.divnavbar {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin-top: 30px;
}
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  margin-bottom: 40px;
}

h3 {
  margin: 30px;
}
h4 {
  margin-top: 30px;
  font-size: 18px;
  margin-left: 30px;
}
p {
  line-height: 1.8;
  margin: 30px;
  margin-right: 200px;
}
/* Button Primary */

.primary-link {
  display: block;
  width: fit-content;
  margin: 50px auto;
  border-radius: 4px;
  background-color: black;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 12px;
}

.secundary-link {
  display: inline-block;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #555555;
  margin: 20px 20px 20px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 50px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
hr {
  width: 15px;
  color: black;
  border: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}

.project-img-yogurt {
  max-width: 100px;
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .project-img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .project-title {
    text-align: center;
  }
  .about-section p {
    text-align: justify;
    margin-right: 8px;
    margin-left: 8px;
  }
  .about-me-image {
    margin: 8px;
  }
}

@media (min-width: 768px) {
  .about-me-image img {
    max-width: 80%;
    display: block;
    margin-left: auto;
  }
}

.about-me-image img {
  max-width: 240px;
  width: 90%;
  height: auto;
}

.project-title {
  margin: 30px;
}

my-project-img {
  max-width: 280px;
  height: auto;
}

.project-2 {
  margin-left:;
}
